<div class="fights-header">
  <h1>Player Fights Log</h1>
  <p>Documented altercations between players during recent games.</p>
</div>
<h1>April Fights</h1>
<table class="fights-table">
  <thead>
    <tr>
      <th>Player 1</th>
      <th>Team</th>
      <th>Player 2</th>
      <th>Team</th>
      <th>Period</th>
      <th>Time</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><a [routerLink]="['/playertwo']">Trevor Lewis</a></td>
      <td><a [routerLink]="['/teamone']">Los Angeles Kings</a></td>
      <td><a [routerLink]="['/playerthree']">Connor McDavid</a></td>
      <td><a [routerLink]="['/teamtwo']">Edmonton Oilers</a></td>
      <td>1st</td>
      <td>12:34</td>
    </tr>
    <tr>
      <td>Nico Sturm</td>
      <td>Florida Panthers</td>
      <td>Zemgus Girgensons</td>
      <td>Tampa Bay Lightning</td>
      <td>3rd</td>
      <td>05:02</td>
    </tr>
    <tr>
      <td>Alex Tuch</td>
      <td>Buffalo Sabres</td>
      <td>Jonah Gadjovich</td>
      <td>Oilers</td>
      <td>3rd</td>
      <td>2:45</td>
    </tr>
    <tr>
      <td>Elias Pettersson</td>
      <td>Vancouver Canucks</td>
      <td>Logan O'Connor</td>
      <td>Colorado Avalanche</td>
      <td>3rd</td>
      <td>9:34</td>
    </tr>
  </tbody>
</table>


 <p>&nbsp; </p>
 <p>&nbsp; </p>

 <h1>March Fights</h1>
<table class="fights-table">
  <thead>
    <tr>
      <th>Player 1</th>
      <th>Team</th>
      <th>Player 2</th>
      <th>Team</th>
      <th>Period</th>
      <th>Time</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Tyler Tucker</td>
      <td>St.Louis Blues</td>
      <td>Andreas Englund</td>
      <td>Nashville Predators</td>
      <td>2nd</td>
      <td>5:29</td>
    </tr>
    <tr>
      <td>Brady Tkachuk</td>
      <td>Ottawa Senators</td>
      <td>Simon Edvinsson</td>
      <td>Detroit Red Wings</td>
      <td>1st</td>
      <td>18:47</td>
    </tr>
    <tr>
      <td>Matt Rempe</td>
      <td>New York Rangers</td>
      <td>Tanner Jeannot</td>
       <td><a [routerLink]="['/teamone']">Los Angeles Kings</a></td>
      <td>2nd</td>
      <td>15:33</td>
    </tr>
    <tr>
      <td>Pat Maroon</td>
      <td>Chicago Blackhawks</td>
      <td>Tyler Tucker</td>
      <td>St.Louis Blues</td>
      <td>1st</td>
      <td>5:59</td>
    </tr>
  </tbody>
</table>