  <!-- Player Page -->


<h2 class="page-title">Player Profiles</h2>

<div class="player-card">
  <h3>Trevor Lewis</h3>
  <p><strong>Age:</strong> 38</p>
  <p>
    <strong>Team:</strong>
    <a [routerLink]="['/teamone']" class="team-link">Los Angeles Kings</a>
  </p>
  <button [routerLink]="['/playertwo']" class="profile-button">
    View Full Profile
  </button>
</div>

<div class="player-card">
  <h3>Adrian Kempe</h3>
  <p><strong>Age:</strong> 29</p>
  <p>
    <strong>Team:</strong>
    <a [routerLink]="['/teamone']" class="team-link">Los Angeles Kings</a>
  </p>
  <button [routerLink]="['/playerone']" class="profile-button">
    View Full Profile
  </button>
</div>

<div class="player-card">
  <h3>Connor McDavid</h3>
  <p><strong>Age:</strong> 29</p>
  <p>
    <strong>Team:</strong>
    <a [routerLink]="['/teamtwo']" class="team-link">Edmonton Oilers</a>
  </p>
  <button [routerLink]="['/playerthree']" class="profile-button">
    View Full Profile
  </button>
</div>

<p class="footer-text">Players Works, Mom Lovessss me!!</p>
